altair==5.0.1
altgraph==0.17.4
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asttokens==2.0.8
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6.2
cachetools==5.3.1
catboost==1.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.0.7
cycler==0.11.0
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
django==4.2.5
entrypoints==0.4
executing==1.1.1
fastjsonschema==2.15.3
filelock==3.13.1
flask==3.0.2
flatbuffers==23.5.26
fonttools==4.37.1
frozendict==2.4.0
fsspec==2024.2.0
gitdb==4.0.10
gitpython==3.1.31
graphviz==0.20.1
gunicorn==21.2.0
html5lib==1.1
idna==3.4
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==6.6.0
imutils==0.5.4
install==1.3.5
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jedi==0.18.1
jinja2==3.1.2
joblib==1.2.0
jsonschema==4.6.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kiwisolver==1.4.4
libclang==16.0.6
lightgbm==3.3.5
lxml==5.1.0
macholib==1.16.3
markdown-it-py==2.2.0
markupsafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
metaplot==1.1.0
mistune==0.8.4
mpmath==1.3.0
multitasking==0.0.11
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.6
networkx==3.2.1
nltk==3.8.1
notebook==6.4.12
numpy==1.23.2
oauthlib==3.2.2
opencv-python==4.7.0.72
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
peewee==3.17.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.4.0
pint==0.19.2
platformdirs==4.2.0
plotly==5.13.0
plotly-express==0.4.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==4.23.2
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.0
pyasn1==0.5.1
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-version==0.0.2
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
pyyaml==6.0.1
pyzmq==24.0.1
qtconsole==5.3.1
qtpy==2.1.0
regex==2022.10.31
requests==2.31.0
retrying==1.3.4
rich==13.4.1
scikit-learn==1.1.2
scipy==1.9.0
seaborn==0.12.0
send2trash==1.8.0
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2
sqlparse==0.4.4
stack-data==0.5.1
statsmodels==0.13.5
streamlit==1.24.1
sympy==1.12
tabulate==0.9.0
tenacity==8.1.0
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado==0.15.0
tesseract==0.1.3
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
toolz==0.12.0
torch==2.2.1
torchvision==0.17.1
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
typing-extensions==4.10.0
tzdata==2023.3
tzlocal==4.3
ultralytics==8.1.20
urllib3==2.0.2
validators==0.20.0
virtualenv==20.25.1
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==3.0.1
widgetsnbextension==3.6.1
wrapt==1.14.1
yfinance==0.2.37
zipp==3.15.0
